.customerLog {
    width: 100%;
    height: 60vh;
    background-color:  #F2F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.loginh2{
    font-size: 24px;
    font-weight: 600;
    color: gray;
    margin-left:10px;
    position: absolute;
    top: 30px;
}
.containerLog {
    margin-top: 10px;
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.loginInput{

    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 25px;*/
    width: 75%; 
    border: 1px solid #B1B5B5 ;
    height: 40px;

}
.contInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
}
.loginInput:hover{
    border: 1px solid #7FB3D5;
    box-shadow: 0 0 4px rgba(41, 153, 222, 0.484);
    ;
}
/* .container input{
    width: 75%;
} */
.logBtn{
    width: 75%;
    height: 32px;
    background-color: #7FB3D5;
    color: white;
    font-size: 18px;
    border-radius: 2px;
}
.loginInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
input{
    outline: none;
    border: none;
    padding: 5px;
}